html, body {
  color: #CCCCFF;
  margin: 0;
  padding: 0;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  font-size: 40px;
  font-family: sans-serif;

  background-color: rgb(255, 68, 112);
  background-color: black;
  height: -webkit-fill-available;
}

a, a:visited {
  text-decoration: none;
  color: white;
  color: #DDDDDD;
}

a:hover {
  color: rgb(255, 68, 112);
  color: white;;
}

#art, #trax {
  background-color: red;
  height: 50%;
  height: 50vh;
  width: 100%;
  width: 100vw;
}

#nav {
  background-color: black;
  height: 50%;
  height: 50vh;
  width: 100%;
  width: 100vw;
  vertical-align: bottom;
  position: relative;
}

#nav #wrapper {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 1em;
  font-size: 40px;
}

@media (max-height: 380px) {
  #nav #wrapper {
    font-size: 25px;
  }
}

/* PHONE PORTRAIT */
@media (max-aspect-ratio: 1/1){
  #trax, #art, #nav {
  }
}

/* LANDSCAPE */
@media (min-aspect-ratio: 2/1) {
  #art, #trax, #nav {
    width: 50%;
    width: 50vw;
    height: 100%;
    height: 100vh;
    float: left;
    display: inline-block;
  }
}
